/*body {
    background-color: #18191a;
    overflow-x: hidden;
}*/

.app__page {
    display: flex;
    background-color: #18191a;
    overflow-x: hidden;
}

.app__posts {
    display: flex;
    justify-content: center;
}

.app__prof {
    background-color: #18191a;
    overflow-x: hidden;
}